@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary-color: #007bff;
  --secundary-color: #ebebeb;
  --third-color: #17a2b8;
  --text-color: #333333;
  color: var(--text-color);

  background-color: var(--secundary-color);
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

button {
  @apply px-3 py-2 rounded-lg;
}

input {
  @apply text-sm rounded-lg p-2 w-full block border;
}

select {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2;
}

table {
  @apply w-full text-sm text-left rtl:text-right text-gray-500;
}
thead {
  @apply text-xs text-gray-700 uppercase bg-gray-50;
}

th {
  @apply px-6 py-3;
}
tbody tr {
  @apply bg-white border-b;
}

td {
  @apply px-6 py-4;
}

.card {
  @apply block  p-6 bg-white border border-gray-200 rounded-lg shadow;
}

.form-error {
  color: rgb(218, 48, 48);
  @apply text-sm font-medium;
}
